body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    background: #222;
    padding: 15px;
    color: white;
}

.carrito-btn {
    background: orange;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

/* ⬇️ AQUI ESTÁ LA CORRECCIÓN */
.productos {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 productos por fila */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 10px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

table {
    width: 60%;
    background: white;
    padding: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}





/* ======= MENU DE CATEGORÍAS ======= */
.menuCategoria {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #222;
    padding: 15px;
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
}

.menuCategoria a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background: #444;
    border-radius: 8px;
    transition: 0.3s;
}

.menuCategoria a:hover {
    background: orange;
    color: black;
    transform: scale(1.05);
}
